body {
    background-color: lightgray;
    /* position: absolute; */
}

.container {
    background-color: white;
}

h1 {
    color: #4aaaa5;
}

.footer {
    text-align: center;
    height: 80px;
    width: 100%;
    background-color: #666666;
    margin-top: 40px;
    border-top-style: solid;
    border-color: #4aaaa5;
    color: white;
    /* position: relative;
    bottom: 0; */
}

.fixed-bottom {
    border-top-color: #4aaaa5;
    border-top-style: solid;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white;
    font-size: 30px;
    height: 50px;
    width: 175px;
}

.undecorated {
    text-decoration: none;
    color: gray;
}

.background {
    background-color: white;
}

#picOfMe {
    border-radius: 50%;
}

h3 {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}

.imageFormatting {
    max-width: 100%;
    height: auto;
}

.buttonFormatting {
    margin: 10px;
}

/* @media screen and (max-width: 1200px) {
    #rowFormatting {
        width: 287px;
    }
} */
    